* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
  letter-spacing: 0.4px;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

.title__heading {
  text-align: center;
}

.title__heading h3 {
  font-size: 40px;
  font-weight: bold;
  line-height: 50px;
  position: relative;
}

.title__heading span {
  color: #ff6e65;
}

.title__heading h3::before {
  left: -20px;
  bottom: -8px;
}

.title__heading h3::after {
  left: 20px;
  bottom: -15px;
}

.title__heading h3::before,
.title__heading h3::after {
  content: "";
  width: 60px;
  height: 2px;
  position: absolute;
  background-color: #707070;
  margin: 0 auto;
  right: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

/* Darkmode title */
.darkMode .title__heading h3 {
  color: #fff;
}

.darkMode .title__heading h3::before,
.darkMode .title__heading h3::after {
  background-color: #b7b7b7;
}

/* Active Header */
li.nav-item.active a {
  color: #ff6e65 !important;
}

/* ---------------Header--------------- */
/* Header-top */
.header__top {
  background-color: #0d369f;
  color: #fff;
  font-weight: 400;
  padding: 14px 15px;
}

.header__top ul {
  list-style: none;
  margin: 0;
}

.header__top li {
  margin-right: 35px;
}

.header__top a {
  text-decoration: none;
  color: #fff;
  transition: all 0.5s;
}

.header__top a:hover {
  color: #ff6e65;
}

.header__top i {
  font-size: 0.88rem;
}

.header__social li:last-of-type {
  margin-right: 0px;
}

/* Header-main */
.header__main {
  background-color: #fff;
  position: fixed;
  z-index: 100;
  height: 90px;
  display: grid;
  align-items: center;
}

.header__main .navbar-brand {
  font-size: 1.625rem;
  font-weight: 600;
  color: #0d369f;
  transition: all 0.3s;
  display: flex;
  align-items: center;
}

.header__main .navbar-brand:hover {
  color: #ff6e65;
}

.header__main nav {
  padding: 1.2rem 1rem;
}

.header__main .nav-item {
  padding: 0 8px;
}

.header__main .nav-link {
  color: #000;
  font-weight: 600;
  transition: all 0.3s;
}

.header__main .nav-link:hover span {
  color: #ff6e65;
  transition: all 0.3s;
}

.header__main .dropdown-item {
  color: #000;
  font-weight: 600;
}

.dropdown a {
  display: flex;
  align-items: center;
  transition: all 0.3s;
}

.dropdown-item:hover {
  color: #ff6e65 !important;
  background-color: transparent;
}

.dropdown a i {
  font-size: 0.7rem;
  padding-left: 5px;
}

.dropdown-menu {
  text-align: center;
  max-width: 12rem;
  margin: auto;
  border: none;
  transform: translateX(-50px);
  box-shadow: rgb(12 12 12 / 6%) 0px 1px 20px 0px;
  position: relative;
}

.dropdown-menu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  border: 1px solid transparent;
  width: 15px;
  height: 15px;
  background-color: #fff;
}

/* Xử lý khi thêm class nav-fixed */
.nav-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}

.header__main.nav-fixed nav {
  padding: 0px;
}

/* Header-main form */
.header__main form {
  position: relative;
}

.header__main form input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 0.9375rem;
  padding: 10px 35px 10px 20px;
  border: 2px solid #eee;
  border-radius: 22.8px;
  overflow: hidden;
}

.header__main .btn-search {
  padding: 0 20px 0 0;
  position: absolute;
  right: 0;
  color: #0d369f;
  transition: all 0.3s;
}

.header__main .btn-search:hover {
  color: #ff6e65;
  border-color: #ccc #bbb #aaa;
}

/* Button bars */
.navbar-toggler {
  background-color: #0d369f;
  padding: 0;
}

.navbar-toggler span {
  color: #fff;
  line-height: 30px;
}

.navbar-toggler-icon i {
  color: #fff;
  line-height: 30px;
}

.navbar-toggler.collapsed .navbar-toggler-icon i:first-of-type {
  display: block;
}

.navbar-toggler.collapsed .navbar-toggler-icon i:last-of-type {
  display: none;
}

.navbar-toggler .navbar-toggler-icon i:first-of-type {
  display: none;
}

.navbar-toggler .navbar-toggler-icon i:last-of-type {
  display: block;
}

/* Icon darkNight */
.darkNight {
  margin-left: 20px;
  height: 24px;
  width: 24px;
}

.darkNight i {
  color: #4867b0;
}

.nav-fixed .darkNight i {
  color: #060606;
}

.darkNight i:last-of-type {
  display: none;
}

.darkNight i:hover {
  color: red;
}

.darkNight.darkNight__first {
  display: none;
}

/* Reponsive Header */
@media (max-width: 575.98px) {
  .header__main .navbar-brand {
    margin-right: 0;
  }

  .header__main .navbar-brand span {
    font-size: 1.5rem;
  }

  .header__main .navbar-brand img {
    height: 38px;
    width: 38px;
  }

  .header__main.nav-fixed nav {
    padding: 0;
  }
}

@media (max-width: 991.98px) {
  .header__top {
    display: none;
  }

  .header__main {
    top: 0;
    height: 64px;
    background-color: transparent;
    transition: all 0.5s;
  }

  .nav-fixed.header__main {
    height: auto;
    background-color: #fff;
  }

  .header__main nav {
    padding: 0;
  }

  .navbar-nav {
    background-color: #fff;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 6px 19px rgba(0, 0, 0, 0.05);
  }

  .navbar-nav .nav-item a {
    display: block;
  }

  /* Active navlink khi có nav-fiv và không có */
  li.nav-item.active a {
    color: #4867b0 !important;
  }

  .header__main.nav-fixed li.nav-item.active a {
    color: #ff6e65 !important;
  }

  /* Hover navlink */
  .navbar-nav .nav-link:hover span {
    color: #4867b0;
  }

  .header__main.nav-fixed .nav-link:hover span {
    color: #ff6e65 !important;
  }

  /* dropdown menu */
  .dropdown-menu {
    transform: translateX(0);
  }

  .darkNight.darkNight__second {
    display: none;
  }

  .darkNight.darkNight__first {
    display: block;
  }

  /* form Search */
  .navbar-formSearch {
    background-color: #fff;
    padding: 20px;
  }

  .navbar-formSearch .form-inline {
    max-width: 235px;
    margin: auto;
  }
}

/* DarkMode */
.darkMode#myBody {
  background-color: #161c2d;
}

.darkMode .header__top {
  background-color: #4867b0;
}

.darkMode .header__main {
  background-color: #161c2d;
}

.darkMode .header__main a {
  color: white;
}

.darkMode .dropdown-menu {
  background-color: #161c2d;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.darkMode .dropdown-menu::before {
  background-color: #161c2d;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.darkMode .inputSearch {
  background-color: #161c2d;
  color: #fff;
}

.darkMode .inputSearch::placeholder {
  color: #fff;
}

.darkMode .darkNight i:first-of-type {
  display: none;
}

.darkMode .darkNight i:last-of-type {
  display: block;
}

/* darkmode nav-fix icon darknight */
.darkMode .nav-fixed .darkNight i {
  color: #4867b0;
}

/* Reponsive Darkmode Header */
@media (max-width: 991.98px) {
  .darkMode .header__main {
    background-color: transparent;
  }

  .darkMode .navbar-toggler {
    background-color: #4867b0;
  }

  .darkMode .nav-fixed.header__main {
    background-color: #161c2d;
  }

  .darkMode .nav-fixed .darkNight i {
    color: #4867b0;
  }

  /* Navbar darkmode */
  .darkMode .navbar-nav {
    background-color: #161c2d;
  }

  .darkMode .navbar-formSearch {
    background-color: #161c2d;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
}

/* ---------------Carousel--------------- */
.stuCarousel {
  margin-top: 90px;
  position: relative;
}

.carousel-inner {
  position: relative;
}

.carousel-inner:active {
  cursor: grab;
}

.carousel-item img {
  width: 100%;
  height: 90vh;
  display: block;
  object-fit: cover;
}

.carousel-item.banner__change img {
  object-position: center top;
}

.carousel-item .carousel__caption {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.carousel-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(75deg,
      rgb(16 16 16 / 34%) 10%,
      rgb(230 2 100 / 0%));
}

.carousel__caption {
  z-index: 2;
}

.carousel__text {
  max-width: 600px;
  padding: 30px 0;
}

.carousel__text h5 {
  font-size: 4.375rem;
  line-height: 80px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 0;
}

.carousel__text button {
  background: #fff;
  padding: 14px 30px;
  font-weight: 600;
  color: #060606;
  margin-top: 48px;
}

.carousel__text button:hover {
  background-color: #ff6e65;
  color: #fff;
  transition: all 0.3s;
}

.carousel__text button i {
  font-weight: bold;
  font: normal normal normal 14px/1 FontAwesome;
}

/* Slick dotss */
.slick-dots {
  position: absolute;
  margin: 0;
  width: auto;
  left: auto;
  right: 24px;
  bottom: 120px;
}

.slick-dots li {
  display: block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin-bottom: 12px;
}

.slick-dots li button {
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.slick-dots li button::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 1;
}

.slick-dots .slick-active {
  background-color: #ff6e65;
}

.slick-dots .slick-active button::before {
  background-color: #ff6e65;
  opacity: 1;
}

/* Reponsive Carousel */
@media (max-width: 1199.98px) {
  .stuCarousel {
    font-size: 3.5625rem;
    margin: 0;
  }

  .carousel__text h5 {
    font-size: 3.125rem;
    line-height: 60px;
  }
}

@media (max-width: 991.98px) {
  .stuCarousel {
    margin: 0;
  }

  .carousel__text h5 {
    font-size: 3.125rem;
    line-height: 60px;
  }
}

@media (max-width: 767.98px) {
  .carousel__text h5 {
    font-size: 2.8125rem;
    line-height: 55px;
  }

  .carousel-item.banner__change img {
    object-position: center right;
  }

  .carousel-item img {
    object-position: center right;
  }
}

@media (max-width: 575.98px) {
  .carousel__text h5 {
    font-size: 2.5rem;
    line-height: 50px;
    margin-bottom: 0;
  }

  .carousel__text button {
    margin-top: 24px;
  }

  .carousel-item.banner__change img {
    object-position: center right;
  }

  .carousel-item img {
    object-position: center right;
  }
}

/* ---------------Frature--------------- */
.feature {
  transform: translateY(-100px);
}

.feature__item {
  padding: 0 0.5rem;
  padding-bottom: 20px;
}

.feature__item .feature__inner {
  padding: 50px 35px;
  color: #fff;
  border-radius: 10px;
}

.feature__content .feature__inner i {
  display: block;
  font-size: 2.8125rem;
}

.feature__item .feature__inner a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 15px;
  transition: all 0.5s;
}

.feature__item .feature__inner a:hover {
  color: #000;
}

.feature__item:nth-child(1) .feature__inner {
  background-color: #037ef3;
}

.feature__item:nth-child(2) .feature__inner {
  background-color: #ffc949;
}

.feature__item:nth-child(3) .feature__inner {
  background-color: #ff4f81;
}

.feature__item:nth-child(4) .feature__inner {
  background-color: #1ee697;
}

/* Reponsive Feature */
@media (max-width: 1199.98px) {
  .feature__item .feature__inner a {
    font-size: 1.25rem;
  }
}

@media (max-width: 991.98px) {
  .feature__item .feature__inner a {
    font-size: 1.6rem;
  }
}

@media (max-width: 575.98px) {
  .feature__item .feature__inner a {
    font-size: 1.1875rem;
  }
}

/* --------------- Welcome --------------- */
.welcome {
  margin-bottom: 80px;
}

.welcome__content {
  margin: 60px 0;
}

.welcome__inner {
  margin: 20px 0;
}

.welcome__inner i {
  font-size: 1.875rem;
  color: #0d369f;
  height: 70px;
  width: 70px;
  line-height: 70px;
  display: inline-block;
  background-color: #e9edf6;
  border-radius: 50%;
  margin-bottom: 20px;
}

.welcome__inner a {
  display: block;
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  font-weight: 600;
}

.welcome__inner a:hover {
  color: #ff6e65;
}

.welcome__inner p {
  color: #707070;
  line-height: 1.5;
  margin-top: 15px;
}

/* Darknight welcome */
.darkMode .welcome__inner a {
  color: #fff;
}

.darkMode .welcome__inner a:hover {
  color: #ff6e65;
}

.darkMode .welcome__inner p {
  color: #b7b7b7;
}

.darkMode .welcome__inner i {
  background-color: rgba(168, 176, 195, 0.11);
  color: #4867b0;
}

/* start__service  */
.service {
  background: url(https://wp.w3layouts.com/studious/wp-content/themes/studious/assets/images/bg3.jpg) no-repeat bottom / cover;
}

.service__inner {
  background: #fff;
  padding: 30px;
  border-radius: 8px;
}

.service__icon {
  padding-right: 20px;
}

.service__icon i {
  color: #0d369f;
  font-size: 28px;
  background: rgb(13 54 159 / 9%);
  width: 65px;
  height: 65px;
  line-height: 65px;
  border-radius: 50%;
  text-align: center;
}

.service__text {
  padding-right: 10px;
}

/* Darkmode service */
.darkMode .service__inner {
  background-color: #161c2d;
}

.darkMode .service__icon i {
  color: #4867b0;
}

.darkMode .service__text h4 {
  color: #fdfffc;
}

.darkMode .service__text p {
  color: #b7b7b7;
}

/* end service  */

/* start number  */

.number__item p {
  font-size: 46px;
  font-weight: 600;
  color: #060606;
}

@media screen and (max-width: 991px) {
  .number__item p {
    font-size: 35px;
  }
}

.number__list .number__item {
  border-right: 1px solid #000;
}

.number__list .number__item:last-child {
  border-right: none;
}

@media screen and (max-width: 991px) {
  .number__list .number__item {
    border-right: none;
  }
}

/* Darkmode Number */
.darkMode .number p {
  color: #b7b7b7;
}

.darkMode .number__item .counter,
.darkMode .number__item span {
  color: #fdfffc;
}

/* Start feedback  */

.feedback__inner {
  padding: 2rem;
  background: #fff;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.feedback__inner span {
  color: #ff6e65;
}

.feedback__avatar img {
  border-radius: 50%;
}

.feedback__bottom .feedback__author {
  padding-left: 20px;
}

.feedback__author h5 {
  font-weight: 600;
}

/* DarkMode feedback */
.darkMode .feedback__inner {
  background: #161c2d;
  box-shadow: 0 20px 62px #1d253a;
}

.darkMode .feedback__inner h5 {
  color: #fff;
}

.darkMode .feedback__inner p {
  color: #b7b7b7;
}

/* end feedback  */
/* start instructor  */

.instructor__inner {
  text-align: center;
  padding: 1rem;
  background: #fff;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.instructor__inner .instructor__top {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.instructor__top .instructor__infor {
  position: absolute;
  bottom: -200px;
  margin: 0;
  background: rgb(8 8 8 / 29%);
  padding: 15px 0;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
}

.instructor__item:hover .instructor__infor {
  bottom: 0;
}

.instructor__infor ul {
  margin: 0;
}

.instructor__infor li {
  display: inline-block;
  padding-right: 10px;
}

.instructor__infor a:hover {
  opacity: 0.8;
  transition: all 0.3s;
}

.instructor__infor li a {
  background: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  border-radius: 50%;
  font-size: 15px;
  color: #0d369f;
}

.instructor__inner img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.instructor__inner a h5 {
  padding-top: 30px;
  font-weight: 600;
  font-size: 25px;
  transition: all 0.5s;
}

.instructor__item:hover a.staff {
  text-decoration: none;
}

.instructor__item:hover a.staff h5 {
  color: #ff6e65;
}

.instructor__inner p {
  padding-bottom: 20px;
}

/* Darkmode instructor */
.darkMode .instructor__inner {
  background-color: #00000000;
  box-shadow: 0 20px 62px #1d253a;
}

.darkMode .instructor__inner h5 {
  color: #fff;
}

.darkMode .instructor__inner p {
  color: #b7b7b7;
}

.darkMode .instructor__infor i {
  color: #4867b0;
}

/* end instructor  */

/* start contact  */
.contact__left img {
  width: 100%;
}

.contact__content h2 {
  font-size: 35px;
  font-weight: 600;
  line-height: 45px;
  padding-bottom: 10px;
}

.contact__content button {
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 40px;
  background: #ff6e65;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  transition: all 0.3s;
}

.contact__content button:hover {
  background: #0d369f;
}

/* DarkMode contact */
.darkMode .contact__content h2 {
  color: #fff;
}

.darkMode .contact__content p {
  color: #b7b7b7;
}

/* start footer  */
.footer__bg {
  background: #060e1f;
  padding: 80px 0;
}

.footer__top {
  position: absolute;
  padding: 50px;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 10px;
  background: #fff;
  left: 0;
  right: 0;
  top: -60px;
  box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
}

@media screen and (max-width: 575px) {
  .footer__top {
    padding: 20px 10px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .footer__top {
    margin: 0 10px;
  }
}

@media screen and (max-width: 991px) {
  .footer__top {
    margin: 0 20px;
  }
}

.footer__text h3 {
  font-size: 35px;
  line-height: 40px;
  font-weight: 600;
}

@media screen and (max-width: 480px) {
  .footer__text h3 {
    font-size: 30px;
  }
}

@media screen and (max-width: 320px) {
  .footer__text h3 {
    font-size: 26px;
  }
}

.footer__form form {
  display: flex;
}

.footer__form input {
  padding: 20px 20px;
  background: #fff;
  flex: 1 1 auto;
  border-radius: 10px 0 0 10px;
  border: 1px solid #eee;
}

.footer__form button {
  font-weight: 600;
  color: #fff;
  background: #0d369f;
  padding: 20px 30px;
  border: none;
  border-radius: 0 10px 10px 0;
  transition: all 0.3s;
}

.footer__form button:hover {
  opacity: 0.9;
}

.footer__list {
  padding-top: 70px;
  color: #fff;
}

@media screen and (max-width: 914px) {
  .footer__list {
    margin-top: 50px;
  }
}

@media screen and (max-width: 440px) {
  .footer__form form {
    display: block;
  }

  .footer__form input {
    width: 100%;
    border-radius: 4px;
  }

  .footer__form button {
    width: 100%;
    padding: 15px 30px;
    border-radius: 4px;
    margin-top: 10px;
  }

  .footer__list {
    margin-top: 100px;
  }
}

@media screen and (max-width: 320px) {
  .footer__list {
    margin-top: 120px;
  }
}

.footer__item h6 {
  font-weight: bold;
  border-bottom: 1px solid rgba(23, 54, 88, 0.4);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.footer__item li a,
.footer__item li {
  color: #cecece;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 10px;
  display: block;
}

.footer__item li a:hover {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.footer__item p {
  color: #cecece;
  font-size: 14px;
  line-height: 24px;
}

@media screen and (min-width: 992px) {

  .row .footer__item:nth-child(2),
  .row .footer__item:nth-child(4) {
    padding-left: 48px;
  }

  .row .footer__item:nth-child(4) {
    border-left: 1px solid rgb(64 73 82 / 51%);
  }
}

.item__contact i {
  margin-right: 10px;
}

.about__social {
  margin-top: 20px;
}

.about__social li {
  display: inline-block;
  padding-right: 5px;
}

.about__social li a {
  color: #fff;
  width: 35px;
  height: 35px;
  line-height: 35px;
  background: rgba(255, 255, 255, 0.06);
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  transition: all 0.3s;
}

.about__social li a:hover {
  opacity: 0.7;
}

.footer__copyright {
  background: #040a17;
}

.footer__copyright p {
  font-size: 15px;
  line-height: 20px;
  color: #a0a0a0;
  padding: 20px 0;
}

.footer__copyright p a {
  color: #fff;
}

/* DarkMode footer */
.darkMode .footer__top {
  background: #161c2d;
  box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
}

.darkMode .footer__top h3 {
  color: #fff;
}

.darkMode .footer__top p {
  color: #b7b7b7;
}

.darkMode .footer__top input {
  background: transparent;
  border: 1px solid #ffffff33;
}

.darkMode .footer__top button {
  background: #4867b0;
}

/* --------------- Back To Top --------------- */
.backToTop {
  height: 40px;
  width: 40px;
  background-color: #4867b0;
  position: fixed;
  bottom: 80px;
  right: 15px;
  border-radius: 5px;
  transition: all 0.3s;
  z-index: 100;
  /* Hidden */
  visibility: hidden;
  opacity: 0;
}

.backToTop i {
  color: #fff;
  line-height: 40px;
}

.backToTop:hover {
  opacity: 0.8;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}